.button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 10px 200px;
    border-radius: 5px;
    text-align: center;
    margin-top: 15px;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .button.back {
    background-color: #6c757d;
  }
  
  .button.back:hover {
    background-color: #5a6268;
  }
  body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center;
  }
  .log {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: black;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }
  h1{
    text-align: center;
    color: #333;
  }
  
  h2 {
    text-align: center;
    color: #FFFFFF;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background: #218838;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background: #e9ecef;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
  }
  body {
              background-image: url('https://imgs.search.brave.com/4Cl4zbvXmOTh9y8dA-8114zOIDXOOwznWjL3tSO0R9k/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvaGQvZm9v/ZC00ay1iNnl0eGl1/OW5ocjR3NHA3Lmpw/Zw');
              background-size: cover;
              padding: 100px;
              background-repeat: no-repeat;
              background-position: center;
          }
  p
  {
    text-align: center;
    color: #333;
  }
  
  
  